body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

h2 {
  color: #777;
}

.b-layout {
  padding: 30px;
}

.b-top-controls {
  margin-top: 40px;
  margin-bottom: 40px;
}

.b-container {

}

.b-container__left, .b-container__right {
  width: 50%;
  box-sizing: border-box;
}

.b-container__left {
  float: left;
  padding-right: 20px;
}

.b-container__right {
  float: right;
  padding-left: 20px;
}

.b-source {
  color: #777;
  padding: 10px 0;
  cursor: pointer;
}

.b-source_selected {
  font-weight: bold;
  color: #000;
}

.b-source_total {
  font-weight: bold;
  color: #000;
}

.b-source:hover {
  color: #000;
}

.b-row__title {
  width: 50%;
  float: left;
}

.b-row__column {
  width: 25%;
  float: left;
}

.b-diff {
  position: relative;
}

.b-diff__value {
  display: none;
  width: 100%;
  position: absolute;
  top: -16px;
  text-align: center;
  color: #777;
  font-size: 12px;
}

.b-diff:hover .b-diff__value {
  display: block;
}

.b-diff__progress {
  width: 100%;
  height: 20px;
  position: relative;
}

.b-diff__progress__bar {
  position: absolute;
  height: inherit;
}

.b-diff__progress__bar_green {
  left: 50%;
  width: 0;
  background-color: green;
}

.b-diff__progress__bar_red {
  right: 50%;
  left: 50%;
  background-color: red;
}

.g-left {
  float: left;
}

.g-right {
  float: right;
}

.g-clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

label {
  font-size: 16px;
  color: #777;
  padding-right: 5px;
}